body {
    background: #000000;
    color: white;
}

.bs-docs-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    color: white;
    text-align: center;
}

.ios, .android {
  width: 50%;
  height: 100%;
}

.android {
  background: #44B39F;
}

.ios {
  background: #44B39F;
}

.bs-docs-footer-links {
    padding-left: 0;
    margin-top: 100px;
    color: white;
}

.store-footer-text {
  margin-top: 10px;
}

.store-footer-text a {
  color: white;
  text-decoration: underline;
}

.bs-docs-footer-links li {
    display: inline-block;
    margin: 0 2px;
}

.main-title {
  font-size: 75px;
  margin-top:20px;
  text-align: center;
}

.main-subtitle {
  text-align: center;
}

.app-info {
  margin-top: 20px;
  padding-bottom: 25px;
}

.icon-img {
  width: 360px;
  margin-top: 100px;
  border-radius: 78px 78px 78px 78px;
  -moz-border-radius: 78px 78px 78px 78px;
  -webkit-border-radius: 78px 78px 78px 78px;
  border: 1px solid rgb(55,55,55);
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.android-icon-img {
  width: 360px;
  margin-top: 100px;
}

@media (min-width:768px) {
    .bs-docs-footer p {
        margin-bottom: 0;
    }
}

@media (max-width:1200px) {
    .main-title {
      margin-top: 30px;
    }
    .bs-docs-footer-links {
      margin-top: 30px;
    }
    .ios, .android {
      width: 100%;
      height: auto;
    }
}

@media (max-width:750px) {
    .icon-img {
      width: 240px;
      margin-top: 50px;
      border-radius: 52px 52px 52px 52px;
      -moz-border-radius: 52px 52px 52px 52px;
      -webkit-border-radius: 52px 52px 52px 52px;
      border: 1px solid rgb(55,55,55);
      border: 1px solid rgba(0, 0, 0, 0.5);
      -webkit-background-clip: padding-box; /* for Safari */
      background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    }

    .android-icon-img {
      width: 240px;
      margin-top: 50px;
    }

    .main-title {
      font-size: 50px;
    }
    .main-subtitle {
      font-size: 25px;
    }
}
